{% extends "base.jinja2" %}
{% block title %}Email verifizieren{% endblock %}
{% block content %}
    <div id="add" hx-ext="response-targets">
    <div  class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-3xl font-bold leading-9 tracking-tight"> Wechselrichter hinzufügen</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

    {% if not user %}
      <div class="alert alert-warning mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <span>Bitte melden Sie sich zuerst an, um einen Wechselrichter hinzuzufügen.</span>
      </div>
      <div class="mb-4">
        <a href="/login" class="btn btn-primary">Zum Login</a>
      </div>
    {% elif not user.is_verified %}
      <div class="alert alert-warning mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <span>Bitte verifizieren Sie zuerst Ihre E-Mail-Adresse, bevor Sie einen Wechselrichter hinzufügen können.</span>
      </div>
      <div class="mb-4">
        <a href="/" class="btn btn-primary" hx-boost="true">Zurück zur Übersicht</a>
      </div>
    {% endif %}

    <form class="space-y-4" hx-post="/inverter" hx-ext='json-enc' hx-target="#add" hx-target-422="#exists" hx-target-403="#exists" hx-target-500="#exists" hx-target-503="#exists">
        <div>
          <input name="name" type="text" placeholder="Name" class="input input-bordered w-full max-w-xs" {% if not user or not user.is_verified %}disabled{% endif %} />
        </div>
        <div>
          <input name="serial" type="text" placeholder="Seriennummer" class="input input-bordered w-full max-w-xs" {% if not user or not user.is_verified %}disabled{% endif %} />
        </div>
        <div id="exists"></div>
        <div>
          <button type="submit" class="btn btn-active btn-primary" {% if not user or not user.is_verified %}disabled{% endif %}>Hinzufügen</button>
        </div>
      </form>
    </div>
    </div>
{% endblock %}