{% extends "base.jinja2" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-3xl font-bold leading-9 tracking-tight">Login</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

      <form class="space-y-4" hx-post="/login" hx-target="#alert" hx-push-url="true">
        <div>
          <input name="username" type="email" placeholder="Email" class="input input-bordered w-full max-w-xs" />
        </div>
        <div>
          <input name="password" type="password"  minlength="8" placeholder="Passwort" class="input input-bordered w-full max-w-xs" />
        </div>
        <div>
          <button class="btn btn-active btn-primary">Login</button>
        </div>
      </form>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <b><button class="btn" hx-get="/signup" hx-target="body" hx-push-url="true">Account anlegen</button></b>
    </div>
 
    <div id="reset_password" class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

          <button class="btn"
                  hx-post="/request_reset_passwort"
                  hx-push-url="true"
                  hx-prompt="email"
                  hx-target="#response">
            Passwort Zurücksetzen
          </button>
    </div>

    <div id="reset_password" class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <div id="response"></div>
    </div>
{% endblock %}