{% extends "base.jinja2" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="mx-auto w-full px-2 md:px-4 max-w-sm">
      <h2 class="mt-10 text-3xl font-bold leading-9 tracking-tight">Passwort Ändern</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

      <form class="space-y-4" hx-post="/reset_password" hx-target="#alert" hx-vals='{"token": "{{ token }}"}'>
        <div>
          <input name="new_password1" type="password" minlength="8" placeholder="Neues Passwort" class="input input-bordered w-full max-w-xs" />
        </div>
        <div>
          <input name="new_password2" type="password"  minlength="8" placeholder="Neues Passwort" class="input input-bordered w-full max-w-xs" />
        </div>
        <div>
          <button type="submit" class="btn btn-active btn-primary">Ändern</button>
        </div>
      </form>
    </div>
{% endblock %}