{% extends "base.jinja2" %}
{% block title %}Registrieren{% endblock %}
{% block content %}
    <div class="mx-auto w-full px-2 md:px-4 max-w-sm">
      <h2 class="mt-10 text-3xl font-bold leading-9 tracking-tight">Registrieren</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

      <form class="space-y-4" action="/signup" method="post" hx-push-url="true">
        <div>
          <input name="first_name" type="text" placeholder="Vorname" class="input input-bordered w-full max-w-xs" />
        </div>
        <div>
          <input name="last_name" type="text" placeholder="Nachname" class="input input-bordered w-full max-w-xs" />
        </div>
        <div>
          <input name="email" type="email" placeholder="Email" class="input input-bordered w-full max-w-xs" />
        </div>
        <div>
          <input
            name="password"
            type="password"
            minlength="8"
            placeholder="Passwort"
            class="input input-bordered w-full max-w-xs"
            hx-post="/validate-password"
            hx-trigger="blur"
            hx-target="#password-validation"
            hx-swap="innerHTML"
          />
          <div id="password-validation"></div>
        </div>
        <div>
          <button type="submit" class="btn btn-active btn-ac">Registrieren</button>
        </div>
      </form>
    </div>
{% endblock %}